a
{
	color:#08A1A1;
	font-size:25px;
	margin-left:5%;
	font-family:sans-serif;
	border:1px solid #08A1A1;
	border-spacing:20px;
	padding: 5%;
	margin-right:5%;
	border-radius:10px;
	width:100%
	

}

a:hover
{
	background-color:black;
	color:white;
}

input
{
	margin-bottom:30px;
	font-size:20px;
}

#explain{
	max-width:70%;float:left;margin-left:30%;
}